<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectcpe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_language_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestSystem.TestSystem"></activity>
        <activity android:name=".PlayingMode.Feedback" />
        <activity android:name=".PlayingMode.SumaryPage" />
        <activity android:name=".PlayingMode.PlayPage" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Play" />
        <activity android:name=".PlayingMode.DetailMission" />
        <activity android:name=".CreateMission.FinallyCreate" />
        <activity android:name=".FunctionEditPassword" />
        <activity android:name=".FunctionEditProfile" />
        <activity android:name=".CreateMission.MissionExport" />
        <activity android:name=".CreateMission.MissionImport" />
        <activity android:name=".CreateMission.MissionDelete" />
        <activity android:name=".CreateMission.MissionCreate" />
        <activity
            android:name=".CreateProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>